# range()

range(시작숫자,끝숫자,증가값)
---

In [1]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [3]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [7]:
list(range(0, 10, -2))

[]

---
# for문

In [9]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [19]:
# 1에서 10까지의 제곱근을 출력하기
import math

for i in range(1,11):
    print("%2d : %0.8f" %(i,math.sqrt(i)))

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [20]:
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

In [104]:
for dan in range(2,10):
    print()
    print( dan, "단")  
    for i in range(2, 10):
        print( dan*i, end = " ")
    print()

2 단
4 6 8 10 12 14 16 18

3 단
6 9 12 15 18 21 24 27

4 단
8 12 16 20 24 28 32 36

5 단
10 15 20 25 30 35 40 45

6 단
12 18 24 30 36 42 48 54

7 단
14 21 28 35 42 49 56 63

8 단
16 24 32 40 48 56 64 72

9 단
18 27 36 45 54 63 72 81

In [94]:
#f-string의 모양은 f와 {}만 알면 된다. 문자열 맨 앞에 f를 붙이고, 
#중괄호 안에 직접 변수 이름이나 출력하고 싶은것을 적으면 됨
for dan in range(2, 10):
        print()
        print( "---",dan,"단 ---")
        print()
        for number in range(1, 10):  
            print(f'{dan} x {number} = {dan * number}', end='\t')
        print()

--- 2 단 ---

2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18

--- 3 단 ---

3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27

--- 4 단 ---

4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36

--- 5 단 ---

5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45

--- 6 단 ---

6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54

--- 7 단 ---

7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63

--- 8 단 ---

8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72

--- 9 단 ---

9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

---
# for문에 list 사용하기

In [107]:
test_list = ['one' , 'two', 'three']

for i in test_list:
    print(i)

one
two
three

---
### for문에 Tuple 사용하기

In [114]:
# 리스트에 튜플을 함께 사용한 경우
var = [(1,2),(3,4),(5,6)]

for first, last in var:
    print(first, ":",last)
    
for first, last in var:
    print(first+last)

sum = 0
for first, last in var:
    sum = sum + first + last
    
print(sum)

1 : 2
3 : 4
5 : 6
3
7
11
21

총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고, 아니면 불합격이다
합격, 불합격 결과 보여주기

In [171]:
scores = [90, 25, 67, 45, 80]


student = 0 
for score in scores:
    student = student + 1
    if score >= 60:
        print("%d의 학생은 합격입니다." %student)
    else:
        print("%d의 학생은 불합격입니다." %student)

1의 학생은 합격입니다.
2의 학생은 불합격입니다.
3의 학생은 합격입니다.
4의 학생은 불합격입니다.
5의 학생은 합격입니다.

In [172]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if scores[number] >=60:
        x = '합격'
    else :
        x = '불합격'
   
    print("%d의 학생은 %s입니다."%(number+1, x))

1의 학생은 합격입니다.
2의 학생은 불합격입니다.
3의 학생은 합격입니다.
4의 학생은 불합격입니다.
5의 학생은 합격입니다.

In [178]:
# 학생번호와 점수를 같이 보여주면서 합격여부 출력하기
scores = [90, 25, 67, 45, 80]

student = 0 

for score in scores:
    student = student + 1
    if(score>=60):
        print("%d의 학생은 %s 이므로 합격"%(student,number))
    else:
        print("%d의 학생은 %s 이어서 불합격"%(student,number))
    count +=1

1의 학생은 80 이므로 합격
2의 학생은 80 이어서 불합격
3의 학생은 80 이므로 합격
4의 학생은 80 이어서 불합격
5의 학생은 80 이므로 합격