### 파일 읽고 쓰기

In [34]:
# 파일을 쓰기모드로 열어 출력값 저장하기

#note folder 한단계 위 Data로 접근
f = open("../Data/new.txt", "w")
for i in range(1,11):
    data = "%d번째 줄 입니다.\n"%i
    f.write(data)
    
f.close()

In [35]:
# 파일을 읽기모드로 열어 파일내용 출력하기 - 1
f = open("../Data/new.txt", "r")

#무한 반복
while True:
    line = f.readline()
    if not line:
        break #반복문 탈출
    print(line)
    
f.close()

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [36]:
# 파일을 읽기모드로 열어 파일내용 출력하기 - 2
f = open("../Data/new.txt", "r")

lines = f.readlines()

#복수와 단수로 보통 사용
for line in lines:
    print(line)
f.close()

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [37]:
# 파일을 읽기모드로 열어 파일내용 출력하기 - 

# 제일 많이 사용


f = open("../Data/new.txt", "r")

data = f.read()
print(data)
f.close()

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

In [38]:
# 파일에 새로운 내용 추가하기
f = open("../Data/new.txt","a")
for i in range(11,21):
    data = "%d번째 줄 입니다.\n"%i
    f.write(data)
f.close

In [39]:
f = open("../Data/new.txt", "r")

data = f.read()
print(data)
f.close()

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

---
# with문
: 파일의 열고 닫음을 자동으로 처리, with문을 벗어나면 자동으로 close

In [40]:
# 파일 만들기

#open하면서 파일이름 정의 f
with open("../Data/new2.txt", "w") as f:
    for i in range(1, 11):
        data = "%d번째 줄 입니다.\n"%i
        f.write(data)

In [41]:
# 파일 읽기

with open("../Data/new2.txt", "r") as f:
    data = f.read()
    print(data)

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

---
# Pandas로 불러오기

In [42]:
import pandas as pd

In [43]:
# txt file 불러오기
txtSample = pd.read_table("../Data/new.txt", header=None)
txtSample.head()

            0
0  1번째 줄 입니다.
1  2번째 줄 입니다.
2  3번째 줄 입니다.
3  4번째 줄 입니다.
4  5번째 줄 입니다.

In [44]:
# txt file 저장하기
txtSample.to_string("../Data/sample_file.txt", index=False, header=False)

In [45]:
# 확인하기
pd.read_table("../Data/sample_file.txt", header=None)

              0
0    1번째 줄 입니다.
1    2번째 줄 입니다.
2    3번째 줄 입니다.
3    4번째 줄 입니다.
4    5번째 줄 입니다.
5    6번째 줄 입니다.
6    7번째 줄 입니다.
7    8번째 줄 입니다.
8    9번째 줄 입니다.
9   10번째 줄 입니다.